*{
	margin: 0;
}
body{
	font-family: verdana, sans-serif;
	font-size: 14px;
	max-width: 1500px;
	margin: 0 auto;
}
/*CABECERA*/
body>header{
	width: 100%;
	background-color: #336699;
	font-weight: bold;
	color: white;
	display: grid;
	grid-template-areas:
	"logo titulo"
	"lema lema";
}
	body>header>figure{
		grid-area: logo;
	}
	body>header>h1{
		grid-area: titulo;
		align-self: center;	
	}

/*MENU DE NAVEGACION + BARRA BUSCAR*/
body>nav{
	overflow: auto;
	width: 100%;
	background-color: #666666;
}
body>nav>ul{
	padding: 0;
	list-style: none;
}
	body>nav>ul>li{
		float: left;
		padding: 0;
	}
		body>nav>ul>li>a{
			color: #FFFFFF;
			text-align: center;
			padding: .2em .4em;
			font-weight: bold;
			display: block;
		}
			body>nav>ul>li>a:hover, body>nav>ul>li>a:active{
				background-color: #FFFFFF;
				color: #666666;
			}
.buscador{
	padding: .08em .4em;
	background-color: #666666;
	float: right;
}
.enlace{
	text-decoration: none;
}
.puntero_mano{
	cursor: pointer;
}
/*MOSTRAR FOTOS*/
body>section{
	width: 100%;
}

/*FORMULARIOS*/
<<<<<<< HEAD
	
.formularios{
	background-color: #336699;
	text-align: center;
	margin: 2em 0 0 0;
	display: flex;
	flex-direction: column;
}
	.formularios>h2{
		padding: 1em 0 0 0;
	}
	
=======
>>>>>>> ae1a554e11290171747c608c5b51caa7587be007
	.formularios>form{
        padding: 1em;
		align-self: center;
	}

	.formularios>form>input{
		display: block;
		margin: auto; 
	}
<<<<<<< HEAD
	
	.formularios>form>select{
		display: block;
		margin: auto; 
	}
	
	
	
	
=======
>>>>>>> ae1a554e11290171747c608c5b51caa7587be007

/*PIE DE PAGINA*/
body>footer{
	background-color: #336699;
	color: white;
	width: 100%;
}
	body>footer>p{
		margin-left: 1%;
	}

		body>footer>p>a{
			color: white;
			float: right;
			margin-right: 1%;
		}
			body>footer>p>a:hover, body>footer>p>a:active{
					background-color: #FFFFFF;
					color: #336699;
				}
<<<<<<< HEAD

=======
>>>>>>> ae1a554e11290171747c608c5b51caa7587be007
