*{
	margin: 0;
}
body{
	font-family: verdana, sans-serif;
	font-size: 14px;
	max-width: 1500px;
	margin: 0 auto;
}
/*CABECERA*/
body>header{
	width: 100%;
	background-color: #336699;
	font-weight: bold;
	color: white;
	display: grid;
	grid-template-areas:
	"logo titulo"
	"logo titulo";
}
	body>header>figure{
		grid-area: logo;
	}
	body>header>h1{
		grid-area: titulo;
		align-self: center;	
	}

/*MENU DE NAVEGACION + BARRA BUSCAR*/
body>nav{
	overflow: auto;
	width: 100%;
	background-color: #546e7a;
}
body>nav>ul{
	padding: 0;
	list-style: none;
}
	body>nav>ul>li{
		float: left;
		padding: 0;
	}
		body>nav>ul>li>a{
			color: #FFFFFF;
			text-align: center;
			padding: .4em .4em;
			font-weight: bold;
			display: block;
			text-decoration: none;
		}
			body>nav>ul>li>a:hover, body>nav>ul>li>a:active{
				background-color: #FFFFFF;
				color: #666666;
			}
.buscador{
	padding: .25em .4em;
	background-color: #546e7a;
	float: right;
}
.enlace{
	text-decoration: none;
}
.puntero_mano{
	cursor: pointer;
}
/*MOSTRAR FOTOS*/
body>section{
	width: 100%;
}
	body>section>h2{
		text-align: center;
	}
	body>section>div{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		display: flex;
	}
		body>section>div>article{
			width: 30%;
			margin:.5em;
			background-color: #87d3ff;
			flex-grow: 1;
			padding: 0;
			display: grid;
			grid-template-areas:
			"titulo titulo"
			"foto foto"
			"pie pie";
		}
			body>section>div>article>p{
				grid-area: titulo;
				padding: .5em;
				margin: .5em;
				text-align: center;	
			}
			body>section>div>article>p>a{
				color: black;
			}
			body>section>div>article>figure{
				grid-area: foto;
				text-align: center;
				padding-bottom: 1em;
			}
				body>section>div>article>figure>a>img{
					vertical-align: middle;	
				}
			body>section>div>article>footer{
				grid-area: pie;
				text-align: center;
			}

/*FORMULARIOS*/
.formularios{
	background-color: #87d3ff;
	text-align: center;
	padding: 1em 0 0 0;
	display: flex;
	flex-direction: column;
}
	.formularios>h2{
		margin: 1em 0 1em 0;
	}

	.formularios>form{
        padding: 1em;
		align-self: center;
	}

		.formularios>form>input{
			display: block;
			margin: .3em auto 1em auto; 
		}
		
		.formularios>form>textarea{
			display: block;
			margin: auto; 
			margin: .3em auto 1em auto; 
		}
		
		.formularios>form>select{
			display: block;
			margin: auto; 
			margin: .3em auto 1em auto; 
	}
	
	.formularios>table{
		margin:auto;
		background-color: white;
		border-collapse: collapse;
		
	}
	
	.formularios>table, td{
		border: 1px solid black;
		padding: 0.3em;
		text-align: center;
	}
	

.formulario_buscar{
	background-color: #87d3ff;
	text-align: center;
	padding: 2em 0 0 0;
	display: flex;
	flex-direction: inline-block;
}

	.formulario_buscar>h2{
		padding: 1em 0 1.2em 1em;
	}
	
	.formulario_buscar>form{
        padding: 1em;
		align-self: center;
	}

	.formulario_buscar>form>input{
		display: inline-block;
		margin: auto; 
	}
	
	
	
/*MENU USUARIO LOGEADO*/
.menu_user_logeado{
	background-color: #87d3ff;
	padding: 1em 0;
	display: flex;
	flex-direction: column;
}

	.menu_user_logeado>h2{
		align-self: center;
	}
	
	.menu_user_logeado>h3{
		align-self: center;
	}
	

	.menu_user_logeado>ul{
		padding: 1em;
		align-self: center;
	}
		.menu_user_logeado>ul>li{
			padding: 1em;
		}
	
			.menu_user_logeado>ul>li>a{
				text-decoration: none;
				color: black;
			}
			
			.menu_user_logeado>ul>li>a:hover{
				background-color: black;
				color: #87d3ff;
			}
	
/*DETALLE FOTO*/
.detalle{
	background-color: #87d3ff;
	text-align: center;
	padding: 1em 0;
	display: flex;
	flex-direction: column;
}

	.detalle>h2{
		padding: 1em 0 1em 0;
	}
		
		.detalle>article>ul{
			list-style-type: none;
			overflow: hidden;
		}
			.detalle>article>ul>li{
				display: inline-block;
				text-align: center;
				padding: 1em;
			}
/*PIE DE PAGINA*/
body>footer{
	background-color: #336699;
	color: white;
	width: 100%;
	padding: 1em 0;
}
	body>footer>p{
		margin-left: 1%;
	}

		body>footer>p>a{
			color: white;
			float: right;
			margin-right: 1%;
			border-style: solid;
			border-color: white;
			border-width: 1px; 
		}
			body>footer>p>a:hover, body>footer>p>a:active{
					background-color: #FFFFFF;
					color: #336699;
				}